.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/dados.txt
inst/script_github.R

inst/script_development.R
inst/doc
/doc/
/Meta/
inst/script_ggcomp.R
inst/var_teste.R
.Rdata
.httr-oauth
.DS_Store
.quarto
